nav {
    background-color: rgba(2,2,2, .6) !important;
    font-weight: bold;
    font-size: .9em;
}

.dropdown-item {
    background-color: #141414 !important;
    color: white !important;
    cursor: pointer;
    font-size: .9em;
}
.dropdown-item span {
    text-decoration: underline;
}
.dropdown-menu.bg-dark {
    background-color: #141414 !important;
    border: 1px solid #444444;
}

.show {
  display: block;
}
.hide {
  display: none;
}
