.container-fluid {
  background-color: #141414;
  min-height: 100vh;
  background-image: url("/assets/images/login-bg.jpg");
  background-size: cover;
}
.navbar {
  background-color: #141414 !important;
  color: white !important;
}
.nav-link {
  color: azure;
}
.card-login {
  background-color: whitesmoke;
  border: none;
}
.card {
  margin-top: 130px;
}
.login-title {
  font-size: 4em;
}

.navbar-brand {
  font-size: 2em;
}

nav.navbar {
  border-bottom: none
}
.form-group {
  margin-top: 10px;
}
